[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
	branch = v1.8.x
[submodule "extern/PEGTL"]
	path = extern/PEGTL
	url = https://github.com/taocpp/PEGTL.git
	branch = 2.x
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/N-Schaef/rapidjson.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
